@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

/* header starts */
.navbar-nav {
    gap: 1rem;
}

.nav-link{
    border-bottom: 3px solid;
}

.nav-link:hover {
    background: #ffc107;
}
/* end header */


/* gallery page starts */
.projects-gallery {
    padding: 3.8rem;
    text-align: center;
    background: black
}

.heading-gallery {
    color: orange;
    margin-bottom: 3.5rem;
    font-size: xxx-large;
}

.box-container {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1rem;
    margin: -2rem;
}

.box1 {
    cursor: initial;
}

.box1:hover .image img{
    transform: scale(1.1);
}

.image {
    height: 17rem;
    overflow:hidden;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* gallery page ends */


/* about us section */
.about-us {
    background: black;
}

.card-text1 {
    font-size: xx-large;
    font-weight: 450;
}

.card-text {
    font-size: larger;
    font-weight: 500;
}
/* ends about us section */
h2 {
    text-align: center;
}

a.navbar-brand {
    font-weight: 700;
    font-size: 40px;
}

#about-section {
    margin: 5rem 2rem 0 2rem;
}

.card-group {
    padding: 4rem 1rem 5rem 1rem;
}

.card-text,
.card-title {
    text-align: center;
}

div.icon {
    margin: -3px 0 0 8px;
    font-size: xx-large;
}

div.icon:hover {
    background: orange;
    border-radius: 5px;
}

/* right aside for profile icon from nav */
.contact-info {
    position: fixed;
    top: 0;
    right: 0;
    width: 35rem;
    background: white;
    height: 100%;
    text-align: center;
    z-index: 1100;
    padding: 0 2rem;
    padding-top: 1.5rem;
    
}

.contact-hide {
    display: none;
} 

.contact-info-active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    display: block;
}

#close-contact-info{
    position: absolute;
    top: 1rem; right: 1.5rem;
    cursor: pointer;
    font-size: 4rem;
    color: black;
}

.fas.fa-times:hover{
    transform: rotate(90deg);
}

.info {
    padding: 1.5rem 0;
}

.info i {
    margin-bottom: .5rem;
}

.info h3 {
    padding: 1rem 0;
}
/* end of right aside for profile icon from nav*/


/* section carousel */
#carouselExampleCaptions {
    height: 570px;
    margin-bottom: 11rem;
}

#height-carousel {
    height: 117%;
}

.section-subtitle {
font-size: 30px;
font-weight: 700;
font-family: 'Font Awesome 5 Free';
margin-bottom: 0;
}

img.img-fluid{
    height: 574px;
}

#item-carousel {
    height: 100%;
}

#item-carousel img {
    height: 113%;
    image-rendering: pixelated;
}
/* section ends carousel */

/* service */
#service-row3 {
    margin: 0 0 5rem;
}

#services {
    margin: 1rem 0;
}

#service-col2 {
    margin: 0;
}

/* #zoom:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
} */
/* end of service */



/* projects section */
#projects-bg {
    background: lightgrey;
    padding: 0rem 1rem 6rem 1rem;
    width: 100%;
    margin: 0;
}

#projects {
    background: lightgray;
    padding-bottom: 2rem;
    margin: 0;
}
/* end of project section */


/* contact us section */
section.contact{
    background: black;
    height: 600px;
    margin-bottom: 5rem;
    border-bottom: 5px solid orange;
}

.heading{
    color:white;
    margin-bottom: 3rem;
}

.rows{
    display: flex;
    flex-wrap:wrap;
    gap: 2.2rem;
    margin: 1rem 5.3rem;
}

.map {
    flex: 1 1 41rem;
    width: 100%;
}

form {
    flex: 1 1 41rem;
    background: white;
    padding: 2 rem;
}

form h3 {
    padding-bottom: 1 rem;
    text-align: center;
}

.box {
    margin: 0.7rem 0.7rem;
    width: 97%;
    padding: .5rem .5rem;
    border-bottom: 2px solid orange;
    background: lightgrey;
    font-size: 1.6rem;
    color:lightslategray;
}

input .box:focus {
    border-color: orange;
}

textarea {
    height: 6rem;
    resize: none;
}

button.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    text-transform: capitalize;
    transition: .2s linear;
    position: relative;
    left: 40%;
    margin: 1rem 0;
}

button.btn:hover {
    background: orange;
    color: black;
}



/* end of contact us section */


/* footer starts */
.footer-title {
    color: orange;
    font-size: 48px;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 0 auto 8.5rem;
    font-size: 30px;
}

.footer-list a {
    color:rgba(0, 0, 0, 0.7);
}

.footer-list a:hover {
    background: orange;
    color: black;
    border-radius: .5rem .5rem .5rem .5rem;
}

#footer-1word {
    color: orange;
    margin: 0px 0 0rem 2rem;
}

#web-dev {
    text-align: center;
}

.copywrite {
    text-align: center;
}
/* ends footer */



/* small devices media queries */
@media screen and (max-width: 600px) {

    #carouselExampleCaptions { 
        height: 26rem;
        margin-bottom: 6rem;
    }

    #about-section {
        margin:0 
    }

    section.contact {
        height:100%;
    }

    .rows {
        margin: 0;
    }

    .map {
        height: 18rem;
    }

    .box {
        margin: 0.7rem 0.5rem 0 0.4rem;
    }

    button.btn {
        left:140px;
    }

    .footer-list {
        margin-top: 2rem;
    }

    div.container-fluid {
        padding-left: 0;
    }

    div.bg-warning.header-background {
        width: 272px;
    }

    .contact-info {
        width: 100%;
        padding-top: 0.5rem;
    }
}



/* medium devices media queries */
@media screen and (min-width: 768px) {

    div.container-fluid {
        padding-left: 0;
    }

    div.bg-warning.header-background {
        width: 407px;
    }

    #about-section {
        margin:0 
    }

    div.col-md-4 {
        width: 62%;
    }

    div#about.col-md-8 {
        width: 33.66%;
    }

    .card-text1 {
        font-size:22.5px;
    }

    div.col {
        padding:0;
        gap: .5rem;
    }

    section.contact {
        height: 906px;
    }

    .map {
        height: 18rem;
    }

    .footer-list {
        margin-top: 2rem;
    }
}


/* Lg devices media queries */
@media screen and (min-width: 992px) {

    div .navbar-collapse {
        position: absolute;
        left: 52%;
    }

    .header-title {
        font-size: xxx-large;
        font-weight: 700;
        width: 46rem;
    }

    .header-background {
        width: 33%;
        text-align: center;
    }

    div.col-md-4 {
        width: 58%;
    }

    .card-text1 {
        font-size:28px;
    }

    img.img-fluid.rounded-start {
        height: 576px;
        width: 632px;
        margin-left: 3rem;
        object-fit: cover;
    }

    #services {
        padding-top: 2rem;
        }

}